body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}


input, button {
    margin: 10px;
    padding: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

.participantes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
}



